@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* ===== FONT ARBIC ===== */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cairo:wght@200..1000&display=swap');

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    box-sizing: border-box;

}

body {
    background: url(imgs/logo/page.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* ===== FIRST HEADER ===== */
.logo img {
    width: 80px;
}

header {
    width: 100%;
    background: #2e2e2e;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    border-radius: 0 0 10px 20px;
    margin: 0 auto;
    position: fixed;
}

nav .logo {
    display: none;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li .active {
    text-shadow: 1px 3px 3px black;
    transform: scale(1.1);
    background: rgba(204, 0, 255, 0.356);
    border-radius: 12px;

}

nav ul li a {
    font-size: 27px;
    font-family: "Jersey 10", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #fff;
    display: block;
    margin: 0 5px;
    padding: 8px 10px;
    transition: 0.3s ease;
}

nav ul li a:hover {
    text-shadow: 1px 3px 3px black;
    transform: scale(1.1);
    background: rgb(204, 0, 255);
    border-radius: 12px;
}

.hamburger {
    display: none;
    height: fit-content;
    cursor: pointer;
    padding: 3px 8px;
    border-radius: 5px;
    transition: 0.4s ease;
}

.hamburger div {
    width: 25px;
    height: 2px;
    margin: 6px 0;
    background: #fff;
}

/* ===== END HEADER ===== */

/*  */

.content {
    padding: 200px 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: "Poppins", sans-serif;
    
}

.title {
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
    text-shadow: 4px 3px 5px rebeccapurple;
    letter-spacing: 1px;
    font-size: 30px;
    margin-bottom: 30px;
}

.card {
    background: #fff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 40%);
    border-radius: 10px;
    padding: 25px;
    margin: 20px;
    transition: 0.9s;
    
}

.card:hover {
    transform: scale(1.1);
}


.card-2 {
    background: #fff;
    width: 200px;
    box-shadow: 0 5px 25px rgba(1 1 1 / 40%);
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
    transition: 0.9s;
}
.card-2:hover {
    box-shadow: 0px 1px 30px rebeccapurple;
}

.icon3 {
    color: blue;
    font-size: 50px;
    text-align: center;
    margin-top: 30px;
}

.info3 h3 {
    color: #000000;
    text-align: center;
}

.info3  p {
    color: #000000;
    text-align: center;
}

.info3 a p {
    color: #000016;
    transition: 0.1s ease;
    text-align: center;
}

.info3 a p:hover {
    color: #cc00ff;
}



footer {
    font-family: "Poppins", sans-serif;
    background: #2e2e2e;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
}

footer h1 {
    font-size: 17px;
}

footer div a {
    color: #fff;
    padding-left: 15px;
    transition: 0.6s;

}

footer div a:hover {
    color: #cc00ff;
    transform: scale(1.1);
}

@media only screen and (max-width:880px) {}

@media only screen and (max-width:850px) {
    header {
        width: 100%;
        padding: 0 20px;
    }

    nav {
        position: absolute;
        left: -500px;
        top: 0;
        z-index: 999;
        width: 330px;
        height: 85vh;
        background: #2e2e2e;
        transition: 0.3s ease;
        box-shadow: 2px 0 2px 0 #000000;
    }

    #nav-check:checked~nav {
        left: 0;
    }

    nav .logo {
        display: block;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    nav ul li a {
        margin-bottom: 15px;
        padding: 10px 15px;
    }

    nav ul {
        display: block;
        padding: 0 20px;
        margin-top: 30px;
    }

    .hamburger {
        display: block;
    }

}

@media only screen and (max-width:400px) {

    footer {
        display: block;
        text-align: center;
    }

    footer h1 {
        font-size: 17px;
        padding-bottom: 15px;
    }


}