@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* ===== FONT ARBIC ===== */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cairo:wght@200..1000&display=swap');

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    box-sizing: border-box;

}

body {
    background: url(imgs/logo/page.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* ===== FIRST HEADER ===== */
.logo img {
    width: 80px;
}

header {
    width: 100%;
    background: #2e2e2e;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    border-radius: 0 0 10px 20px;
    margin: 0 auto;
    position: fixed;
}

nav .logo {
    display: none;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li .active {
    text-shadow: 1px 3px 3px black;
    transform: scale(1.1);
    background: rgba(204, 0, 255, 0.356);
    border-radius: 12px;

}

nav ul li a {
    font-size: 27px;
    font-family: "Jersey 10", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #fff;
    display: block;
    margin: 0 5px;
    padding: 8px 10px;
    transition: 0.3s ease;
}

nav ul li a:hover {
    text-shadow: 1px 3px 3px black;
    transform: scale(1.1);
    background: rgb(204, 0, 255);
    border-radius: 12px;
}

.arbic {
    font-family: "Cairo", sans-serif;
    font-weight: 700;
    font-size: 19px;

}

.social-icon {
    font-size: 17px;
    transition: 0.4s;
    column-gap: 1rem;
    transition: transform .4s;
    padding: 8px 3px;
}

.social-icon:hover {
    background-color: #2e2e2e;
}

.social-icon:hover {
    transform: translateY(-.30rem);
}

.social-icon {
    display: none;
}

.hamburger {
    display: none;
    height: fit-content;
    cursor: pointer;
    padding: 3px 8px;
    border-radius: 5px;
    transition: 0.4s ease;
}

.hamburger div {
    width: 25px;
    height: 2px;
    margin: 6px 0;
    background: #fff;
}

/* ===== END HEADER ===== */

/*  */

.title2 {
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    text-shadow: 4px 3px 5px rebeccapurple;
    letter-spacing: 1px;
    font-size: 30px;
    margin-bottom: 30px;
}

.st {
    background: #000016;
    color: #fff;
    padding-top: 300px;
    padding-bottom: 100px;

    font-family: "Poppins", sans-serif;
  
  }
  
  .st .container {
    margin-top: 60px;
    display: flex;
    overflow-x: auto;
    border-radius: 12px;
    overflow-y: hidden;
  }
  
  .st-card {
    background: #fff;
    border: 3px solid #000000;
    border-radius: 10px;
    margin: 10px;
    transition: 0.5s ease;
   
  }
  
  .st-card:hover {
   box-shadow: 0px 1px 30px rebeccapurple;
  }
  
  .st-img{
    width: 300px;
  }

  .st-name {
    font-size: 24px;
    color: black;
    margin:  10px 15px;
    text-align: center;
    font-size: 25px;
  }
  
  .st-title {
    color: black;
    margin-left: 20px;
    text-align: center;
    font-size: 20px;
  }

  .Order {
   background: #2e2e2e;
   color: #fff;
   border-radius: 6px;
   padding: 3px 5px;
   margin: 30px 40px;
   cursor: pointer;
   transition: 0.4s ease;

}

.Order:hover {
    background: rebeccapurple;
}

  ::-webkit-scrollbar{
    width: 9px;
  }

  ::-webkit-scrollbar-track{
    background:#000000;
  }

  ::-webkit-scrollbar-thumb{
    background: rebeccapurple;
    border-radius: 12px;
  }

  .st-titleu{
    color:black;
    text-shadow:1px 2px 5px red ;
    font-weight: 900;
    margin-left: 20px;
    text-align: center;
    margin-bottom:30px ;
    font-size: 30px;

  } 

@media only screen and (max-width:880px) {

}

@media only screen and (max-width:850px) {
    header {
        width: 100%;
        padding: 0 20px;
    }

    nav {
        position: absolute;
        left: -500px;
        top: 0;
        z-index: 999;
        width: 330px;
        height: 85vh;
        background: #2e2e2e;
        transition: 0.3s ease;
        box-shadow: 2px 0 2px 0 #000000;
    }

    #nav-check:checked~nav {
        left: 0;
    }

    nav .logo {
        display: block;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    nav ul li a {
        margin-bottom: 15px;
        padding: 10px 15px;
    }

    nav ul {
        display: block;
        padding: 0 20px;
        margin-top: 30px;
    }

    .hamburger {
        display: block;
    }

}

@media only screen and (max-width:620px) {
    .st .title2{
        font-size: 24px;
    }
      .st-img{
        width: 250px;
      }
    
      .Order {
        font-size: 15px;

    }

}

@media only screen and (max-width:400px) {
    .st-img{
        width: 250px;
      }
    
      .Order {
        font-size: 15px;

    }
  

}